// Font-Awesome
@font-face {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  src: url("fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format('embedded-opentype'), url("fonts/fontawesome-webfont.woff2?v=4.3.0") format('woff2'), url("fonts/fontawesome-webfont.woff?v=4.3.0") format('woff'), url("fonts/fontawesome-webfont.ttf?v=4.3.0") format('truetype'), url("fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format('svg');
}
.fa {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  display: inline-block;
  transform: translate(0, 0);
}
.fa-search:before {
  content: '\f002';
}
.fa-twitter:before {
  content: '\f099';
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: '\f09a';
}
.fa-pinterest:before {
  content: '\f0d2';
}
.fa-pinterest-square:before {
  content: '\f0d3';
}
.fa-google-plus-square:before {
  content: '\f0d4';
}
.fa-google-plus:before {
  content: '\f0d5';
}
.fa-instagram:before {
  content: '\f16d';
}
