// Bourbon Grid Max
$max-width: em(1140);
$container-padding: em(20);

// Susy: http://susydocs.oddbird.net/en/latest/settings/
$susy: (
  columns: 12,
  gutters: .25,
  gutter-position: inside,
  math: fluid,
  output: float
);

// Color: Sass Map
$color: (
    text: #444,
    header: #222,
    link: steelblue,
    link-muted: steelblue,
);

// Fonts
$font-body: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$font-header: Georgia, serif;

// Typography
$sizes: (
  base: 16px,
  h1-text: 42px,
  h1-line: 51px,
  h2-text: 36px,
  h2-line: 51px,
  h3-text: 28px,
  h3-line: 41px,
  h4-text: 24px,
  h4-line: 37px,
  h5-text: 20px,
  h5-line: 33px,
  h6-text: 18px,
  h6-line: 28px,
  p-text: 16px,
  p-line: 24px,
  small-text: 13px,
  margin: 20px,
);
