html {
  font-size: size(base);
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: $font-body;
  min-height: 100%;
  color: color(text);
  font-size: scut-rem(size(base));
}
