label {
  font-weight: 600;
  display: block;
  font-size: scut-rem(size(base));
  span {
    font-weight: 400;
    font-style: italic;
    color: color(link);
  }
}
textarea,
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
 {
  width: 100%;
  margin-bottom: size(margin);
  padding: 10px;
  color: #777;
  border: 1px solid #e3e3d9;
  font-size: scut-rem(14px);
  &:focus {
    outline: 0;
    box-shadow: inset 0 0 0 2px #ddd;
  }
}

textarea {
  resize: vertical;
}

.button,
button,
input[type=button],
input[type=submit] {
  font-weight: 400;
  border: none;
  transition: .3s all ease-in-out;
  &:hover,
  &:active,
  &:focus {
    // here
  }
}
