h1,
h2,
h3,
h4,
h5 {
  font-family: $font-header;
  font-weight: 700;
  margin: 0;
  color: color(header);
}

h1 {
  font-size: scut-rem(size(h1-text));
  line-height: scut-rem(size(h1-line));
}

h2 {
  font-size: scut-rem(size(h2-text));
  line-height: scut-rem(size(h2-line));
}

h3 {
  font-size: scut-rem(size(h3-text));
  line-height: scut-rem(size(h3-line));
}

h4 {
  font-size: scut-rem(size(h4-text));
  line-height: scut-rem(size(h4-line));
}

h5 {
  font-size: scut-rem(size(h5-text));
  line-height: scut-rem(size(h5-line));
}

h6 {
  font-size: scut-rem(size(h6-text));
  line-height: scut-rem(size(h6-line));
}

p {
  font-size: scut-rem(size(p-text));
  line-height: scut-rem(size(p-line));
  margin-bottom: size(margin);
}

small {
  font-size: scut-rem(size(small-text));
}

blockquote {
  font-family: $font-header;
  font-style: italic;
  position: relative;
  margin: 0.25em 0;
  padding: 20px 60px;
  color: #777;
  &:before {
    font-size: 80px;
    position: absolute;
    top: 2px;
    left: -3px;
    display: block;
    content: '\201C';
    color: #aaa;
  }
  cite {
    display: block;
    margin-top: 5px;
    color: #999;
    font-size: scut-rem(14px);
    &:before {
      content: '\2014 \2009';
    }
  }
}

// Links
a,
a:visited {
  text-decoration: none;
  color: color(link);
  transition: .3s all ease-in-out;
  &:hover,
  &:focus {
    color: darken(color(link), 5%);
  }
}

pre {
  margin-bottom: size(margin);
}
