.alignleft {
  float: left;
  margin: 10px size(margin) size(margin) 0;
}
.alignright {
  float: right;
  margin: 10px 0 size(margin) size(margin);
}
.aligncenter {
  display: block;
  max-width: 100%;
  margin: size(margin) auto;
}
