// Form validation
.form-row {
    .woocomemerce-invalid {
        .chzn-single,
        .chzn-drop,
        input.input-text,
        select {
            border: 1px solid red;
        }
    }
    .woocommerce-validated {
        .chzn-single,
        .chzn-drop,
        input.input-text,
        select {
            border: 1px solid green;
        }
    }
}
