// Inline menu; used in header and footer navigation
.menu-inline {
  @extend %scut-clearfix;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    & > li {
      float: left;
      margin-right: spacer(1/2);
      &:last-of-type {
        margin-right: 0;
      }
    }
    > li > ul {
      @extend %hide; // Hide submenus for the sake of simplicity; obviously you'd want to remove this when you apply your own styling
    }
  }
}

// Hide header menu
.menu-header ul {
  display: none;
  @media(min-width: 600px) {
    display: block;
  }
  &.toggled {
    display: block;
  }
}

// Menu toggle for mobile phones and small screens
.responsive-menu-toggle {
  @media(min-width: 600px) {
    display: none;
  }
  &.toggled {
    display: none;
  }
}
